{% extends 'basepets.html' %}
{% load static%}
{% block content1 %}

<!-- Showcase -->
  <section id="showcase4">
    <div class="text-center">
      <h1 style="width: 60%; margin: auto; color: rgb(0,0,0)">
                Things change. And friends leave. Life doesn't stop for anybody.
      </h1>
    </div>
  </section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="{% url 'aboutpets' %}">About</a>
        </li>
      </ol>
    </nav>
  </div>
</section>

<!--showcase-->
    <section id= "showcase-title">
        <div class= "container">
            <i class = "text-center">
                F4 Save your Family 
            </i>
        </div>
    </section>

    <section id= "img">
        <div class = "container">
            <img src="{% static 'img/people.png' %}" alt=""
                 srcset="" sizes="display: {block;} margin: {auto;}" style="width:auto; margin:auto">
            <p>To name just the resources online: there are numerous other lost pet web sites, 
            microchip registries, Craigslist, assorted Facebook pages, Twitter, Instagram, 
            and various other social media. But only a well-designed, user-friendly, 
            extensive, searchable database like Pet FBI’s will give you the best chances 
            for a speedy successful reunion. Combine our state-of-the-art database with 
            the most comprehensive advice about what to do and whom to contact and you will 
            “cover all the bases”!
            </p>
        </div>
    </section>
{% endblock %}