{% extends 'base.html' %}
{% load static%}
{% block content1 %}

<!--showcase-->
    <section id= "showcase-title">
        <div class= "container">
            <h3 class = "text-center">
                F4 Save your Family 
            </h3>
        </div>
    </section>

    <section id= "img">
        <div class = "container">
            <img src="{% static 'img/people.png' %}" alt=""
                 srcset="" sizes="display: {block;} margin: {auto;}" style="width:auto; margin:auto">
            <p>To name just the resources online: there are numerous other lost pet web sites, 
            microchip registries, Craigslist, assorted Facebook pages, Twitter, Instagram, 
            and various other social media. But only a well-designed, user-friendly, 
            extensive, searchable database like Pet FBI’s will give you the best chances 
            for a speedy successful reunion. Combine our state-of-the-art database with 
            the most comprehensive advice about what to do and whom to contact and you will 
            “cover all the bases”!
            </p>
        </div>
    </section>
{% endblock %}