{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Showcase -->
  <section id="showcase1">
    <div class="text-center">
      <h1 style="width: 60%; margin: auto">
                Things change. And friends leave. Life doesn't stop for anybody.
      </h1>
    </div>
  </section>

<!-- Choices -->
<section id="team" class="py-5">

    <div class="container">
      <h2 class="text-center">Looking For ... </h2>
      <div class="row text-center">
        <div class="col-md-5">
            <a class='nav-link' href="{% url 'news' %}">
                <img src="{% static 'img/pets.png' %}" alt="" class="rounded-circle mb-3">
            </a>
            <hr>
            <a class='nav-link' href="{% url 'news' %}">
                <h4>Pets</h4>
            </a>
          </div>
        <div class="col-md-2">
        </div>

        <div class="col-md-5">
            <a class='nav-link' href="{% url 'peoples' %}">
                <img src="{% static 'img/people.png' %}" alt="" class="rounded-circle mb-3">
            </a>
            <hr>
            <a class='nav-link' href="{% url 'peoples' %}">
                <h4>People</h4>
            </a>
        </div>
      </div>
    </div>
  </section>  

{% endblock %}