{% extends 'basepets.html' %} 

{% block content1 %}

<!-- person -->
<section id="pet" class="py-4">
    <div class="container">
        <a href="{% url 'search' %}" class="btn btn-light mb-4">Back To pets</a>
    <div class="row">
    <div class="col-md-9">
        <!-- Home Main Image -->
        <img src="{{ pet.photo_main.url}} "alt="" class="img-main img-fluid mb-3">
        <!-- Fields -->
        <div class="row mb-5 fields">
            <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                <i class="fas fa-user-circle"></i> Name:
                <span class="float-right">{{ pet.name }}</span>
                </li>
                <li class="list-group-item text-secondary">
                <i class="fas fa-male"></i> gender:
                <span class="float-right">{{ pet.gender }}</span>
                </li>
                <li class="list-group-item text-secondary">
                <i class="fas fa-weight"></i> kg:
                <span class="float-right">{{ pet.weight }}</span>
                </li>
                <li class="list-group-item text-secondary">
                <i class="fas fa-globe"></i> LOCATION:
                <span class="float-right">{{ pet.province }} </span>
                 </li>
            </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                    <i class="fas fa-id-card"></i> categories:
                    <span class="float-right">{{ pets.category }} </span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12">
           {{ pet.description }}
        </div>
    </div>
    </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-3">
            <img class="card-img-top" src="index" alt="">
        </div>
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">
          Make An Inquiry
        </button>
    </div>
    </div>
</section>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
  </div>
</div>

  {% endblock %}
