{% extends 'basepets.html' %} {% load static %} {% block content1 %}
Home
News
{{ news.title }}
Back To Recent News

{% if listing.photo_1 %}

{% endif %} {% if listing.photo_2 %}

{% endif %} {% if listing.photo_3 %}

{% endif %} {% if listing.photo_4 %}

{% endif %} {% if listing.photo_5 %}

{% endif %} {% if listing.photo_6 %}

{% endif %}
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
{% endblock %}