#ImageSize{
  max-width: 40%;
  height: 25px;
}

#header {
  height: 75px;
  background: #185e5a;
  color: #fff;
}

#branding {
  color: #fff;
}

#img

img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
  height: auto;
}

img.alignright, .wp-caption.alignright {
  margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}

.aligncenter{
  display: block;
}

.alignright, .float-right{
  float: right! important;
}
