.btn-secondary {
  color: #fff !important;
}

img {
  width: 100%;
}

.logo {
  width: 80px;
}

.navbar {
  opacity: 0.9;
  text-transform: uppercase;
}

.social a {
  margin-right: 0.4rem;
}

/* all picture showcase */

#showcase1 {
  background: url(../img/hug.jpg) no-repeat top center fixed;
  position: relative;
  min-height: 300px;
  color: #fff;
  padding-top: 6rem;
}

#showcase2 {
  background: url(../img/dog1.png) no-repeat top center fixed;
  position: relative;
  min-height: 300px;
  color: #fff;
  padding-top: 6rem;
}

#showcase3 {
  background: url(../img/dog2.jpg) no-repeat top center fixed;
  position: relative;
  min-height: 300px;
  color: #fff;
  padding-top: 6rem;
}

#showcase4 {
  background: url(../img/dog3.jpg) no-repeat top center fixed;
  position: relative;
  min-height: 300px;
  color: #fff;
  padding-top: 6rem;
}

#showcaseperson {
  background: url(../img/family.jpg) no-repeat top center fixed;
  position: relative;
  min-height: 300px;
  color: #fff;
  padding-top: 6rem;
}

#showcase5 {
  background: url(../img/dog3.jpg) no-repeat top center fixed;
  position: relative;
  min-height: 300px;
  color: #fff;
  padding-top: 6rem;
}

#showcase-title{
  font-family: "Montserrat",sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.875rem;
  line-height: 3.625rem;
  margin: 0;
  margin-bottom: 2.875rem;
  width: auto;
}

/* pets homepages */
#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}

#showcaseperson {
  background: url(../img/family.jpg) no-repeat top center fixed;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}
#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}
#showcase .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#services {
  background: url(../img/building.jpg) no-repeat top center fixed;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.1);
}

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.1);
}

#showcase-inner.showcase-search {
  min-height: 350px;
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}

@media (max-width: 991px) {
  #showcase,#showcaseperson, #showcase1,#showcase2,#showcase3,#showcase4,#showcase5{
    padding-top: 4rem;
  }
  #showcase h1,#showcaseperson ,#show1case h1,#showcase2 h1,#showcase3 h1, #showcase4 h1,#showcase5 h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase,#showcaseperson,#showcase1,#showcase2,#showcase3,#showcase4,#showcase4 {
    padding-top: 3rem;
  }
  #showcase h1,#showcaseperson h1, #showcase1 h1,#showcase2 h1,#showcase3 h1,#showcase4 h1,#showcase5 h1 {
    font-size: 40px;
  }
  #showcase p,#showcaseperson p,#showcase1 p,#showcase2 p,#showcase3 p,#showcase4, #showcase5 p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase h1,#showcaseperson h1, #showcase1 h1,#showcase2 h1,#showcase3 h1,#showcase4 h1,#showcase5 h1 {
    font-size: 20px;
  }
  #showcase-inner h1 {
    font-size: 30px;
  }
}